<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div style="padding: 10px; margin: 10px 0; border-radius: 5px; color: white; background-color: red;">
                {% else %}
                    <div style="padding: 10px; margin: 10px 0; border-radius: 5px; color: white; background-color: green;">
                {% endif %}
                        {{ message }}
                    </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>Iniciar sesión</h2>
    <form method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required>

    <label for="password">Contraseña:</label>
    <input type="password" name="password" required>

    <button type="submit">Iniciar sesión</button>
</form>

</body>
</html>
